@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFD !important;
    text-align: center;
}

nav {
    background-color: #7DBD95;
    background-image: none !important;
    width: 100%;
}

nav a {
    /*color: #FFD9D2 !important;*/
}

#home {
    background-image: url("computer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}
.heading{
    margin-top: 20vh;
}

#home button {
    background-color: #7DBD95 !important;
    width: 200px;
    height: 60px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#home button:hover {
    box-shadow: none;
}

.about {
    height: 90vh;
}

.content {
    margin: 5%;
    margin-left: 15%;
    padding: 5%;
    background-color: #A8877E;
    height: 100%;
    width: 70%;
}

h1 {
    font-family: 'Julius Sans One', sans-serif !important;
}

body {
    position: relative;
}

.about {
    display: flex;
}

.me {
    width: 40%;
    font-size: 5px !important;
}

.me h1 {
    font-size: 20px !important;
}

.me img {
    width: 70%;
}

.info {
    width: 80%;
    margin-right: 10%;
}

.description {
    text-align: center;
    height: 80%;
    margin-top: 10%;
}

#experiences {
    background-color: #A8A8B5;
}

#education {
    margin-top: 5px;
    background-color: #A8A8B5;
}

#connect {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #A8A8B5;
}

#img-responsive {
    width: 100%;
}

#social-media img {
    width: 20%;
    padding-right: 5%;
}

#works {
    margin-top: 2%;
}

.card-columns {
    display: block;
}

.card-img-top {
    height: 200px;
}
